.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.flex{
    display: flex;
}

.footer{
    background-color: #1f494b;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #8b8594 !important;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #1f494b;
}

.media-list .media a{
    height:30;
    width:41;
}

.mt-3 media-left img{
    height:30;
    width:41;
}

/* img {
    vertical-align: middle;
    border-style: none;
    width: 100px;
    height: 110px;
} */


.card {
    flex: 1;
    width: 25rem;
    margin-top: 10px;
}

.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.card-body{
    padding: 3rem 0 !important;
}

.card-text{
    font-size: .9rem;
    padding: 0.4rem 1.9rem;
}

.overflow{
    overflow: hidden;
}

.container-fluid .row{
    padding: 3rem;
}

.card-img-top{
    transform: scale(1);  
    transition: transform 0.5s ease;
}

.card-img-top:hover{
    transform: scale(0.8);
}